
@{
    ViewData["Title"] = "Documentation";
}
<div class="container">
    <h2>Examples <small><a href="#">Show documentation</a></small></h2>
    <br />
    
</div>








<script>
    $(function () {
        $('#docsPill').addClass("active");
    });
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.a').css('display', 'block');
    });
</script>
