@using raupjc_obg.Models.ContentViewModels
@model List<GameViewModel>

<div class="container">
    <h1>Your Games</h1>
    <div class="row">
        @foreach (var game in Model)
        {
            <a class="btn btn-default" asp-controller="ContentCreator" asp-action="Game" asp-route-id="@game.Id">@game.Name</a><br />
        }
        <br />
        <a class="btn btn-info" asp-controller="ContentCreator" asp-action="Index">New Game</a>
    </div>
</div>