<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - raupjc_obg</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/game.css" />
    <script src="~/lib/ladda-bootstrap/spin.min.js"></script>
    <script src="~/lib/ladda-bootstrap/ladda.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <link rel="stylesheet" href="~/lib/ladda-bootstrap/ladda-themeless.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    @RenderSection("Scripts", false)
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <img id="headerImage" class="hidden" src="https://i.imgur.com/V42zBSh.png" style="width:100%;">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <ul class="nav nav-pills nav-stacked">
                    <li id="homePill" ><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li id="contentPill"><a asp-controller="ContentCreator" asp-action="Index">Content creator</a></li>
                    <li id="gamePill" class="hidden"><a asp-controller="Game" asp-action="Index">Play game</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>