@{
    ViewData["Title"] = "Home Page";
}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et ex ultricies, cursus dui ut, porttitor augue. Nam efficitur tellus a scelerisque feugiat. Curabitur pharetra viverra vehicula. In vel nulla ac leo tempor tincidunt. Curabitur dapibus ac eros in varius. Proin nisi nunc, blandit vel est vitae, ultricies iaculis diam. Sed elementum ut tortor sed aliquet. Nullam venenatis nulla nec libero eleifend, in commodo leo volutpat. Vestibulum tincidunt luctus suscipit. Nunc velit risus, elementum nec sem vitae, ultrices varius quam. Phasellus volutpat suscipit nisl vitae interdum. Proin rhoncus ipsum et augue sodales condimentum. Cras bibendum placerat nibh, ac sagittis dolor mollis et. Mauris aliquam orci non dictum pharetra. Etiam molestie posuere dolor sit amet hendrerit. Aenean at porttitor velit, eu hendrerit nulla.</p>
<p>Cras ut convallis neque. Nulla condimentum nec eros non porta. Proin commodo tortor ante, non consectetur metus consequat ut. Suspendisse sit amet magna at sapien pretium pellentesque efficitur vel dui. Nullam mi orci, porttitor id tristique ullamcorper, tincidunt quis tortor. Mauris ut condimentum erat, id interdum felis. Integer molestie massa sem, id mattis orci tincidunt vitae. Fusce bibendum turpis at orci condimentum facilisis.</p>

<script>
    $(function () {
        $('#headerImage').removeClass("hidden");
        $('#contentPill').removeClass("active");
        $('#gamePill').removeClass("hidden");
        $('#gamePill').removeClass("active");
        $('#homePill').addClass("active");
    });
</script>