@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="col-md-6">
    <h4>
        <span style="color:darkblue">boardgamesonline.tk</span> allows you to play custom board games made by players themselves!<br />
        Registered users can create their own games and even rate and comment other games.<br /><br />
		
		Games are best to play with more players. The goal is to get to space 150.<br>
		Through the game players will encounter different events in which their decisions will affect the course of the game.<br><br>
		
        Check out the Content creator to make your own game. For info, check out the Documentation with examples.<br /><br>
		
        To start a game, you need to create a room. To join a game, you need to know the room name and password.<br><br>
		
		Check out client for Android (design still WIP) - https://github.com/do49652/raupjc-obg-app
    </h4>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="~/images/game.png" />
    </div>
</div>

<script>
    $(function () {
        $('#headerImage').removeClass("hidden");
        $('#contentPill').removeClass("active");
        $('#gamePill').removeClass("hidden");
        $('#gamePill').removeClass("active");
        $('#homePill').addClass("active");
    });
</script>