@model raupjc_obg.Models.GameViewModels.JoinGameViewModel

<div id="joinContainer" class="row animated fadeIn" style="text-align: center">
    <div class="col-md-offset-4 col-md-4">
        <form method="post" data-toggle="validator">
            <div class="form-group">
                <input class="form-control" name="Username" type="text" autocomplete="off" maxlength="42" pattern="[a-zA-Z0-9]*" data-error="Only alphanumeric characters allowed." placeholder="Choose your in-game name" value="@Model.Username" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <input class="form-control" name="GameName" type="text" autocomplete="off" maxlength="42" pattern="[a-zA-Z0-9]*" data-error="Only alphanumeric characters allowed." placeholder="Name of the game/room" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <input class="form-control" name="Password" type="password" autocomplete="new-password" maxlength="42" pattern="[a-zA-Z0-9]*" data-error="Only alphanumeric characters allowed." placeholder="Game/room password" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group" align="right">
                <button id="joinButton" type="submit" class="btn btn-primary ladda-button" data-style="slide-left"><span class="ladda-label">Join</span></button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $('#joinButton').click(function () {
            var l = Ladda.create(this);
            if (!$(this).hasClass("disabled"))
                l.start();
            $(this).parent().parent().submit();
        });
    });
</script>