<div id="lobby" class="row">
    <div id="joined" class="row"></div>
    <div id="startgame" class="row"></div>
</div>

<div id="game" class="hidden row"></div>

<script type="text/javascript" src="js/game.js"></script>