<div class="row">
    <div class="col-md-3">
        <div id="itemsContainer" class="col-md-offset-1 col-md-11 hidden animated fadeInLeftBig">
            <div id="items">
                <span></span><br />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div id="gameContainer" class="col-md-offset-1 col-md-10 animated fadeIn" style="text-align: center">
            <div id="lobby" class="row" style="text-align: center">
                <div id="joined" class="row"></div>
                <div id="startgame" class="row hidden">
                    @foreach (var g in Model.gameNames)
                    {
                        <button id='startGameButton' class='btn btn-primary ladda-button' data-style='slide-left' onclick="startGame('@(g)');"><span class='ladda-label'>@(g)</span></button>
                    }
                </div>
            </div>

            <div id="gameGameContainer" class="hidden row animated fadeInUp" style="text-align: center">
                <div id="playersContainer" class="row">
                    <pre id="players"></pre>
                </div>
                <div id="game" class="row"></div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div id="logContainer" class="col-md-offset-1 col-md-11 hidden animated fadeInRightBig">
            <div id="log">
                <span></span><br />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="itemModal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body"></div>
        </div>

    </div>
</div>


<script type="text/javascript" src="js/game.js"></script>