@model raupjc_obg.Models.GameViewModels.JoinGameViewModel
@{
    ViewData["Title"] = "Game";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - raupjc_obg</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="~/css/site.min.css" />-->
    <link rel="stylesheet" href="~/css/game.css" />
    <script src="~/lib/ladda-bootstrap/spin.min.js"></script>
    <script src="~/lib/ladda-bootstrap/ladda.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <link rel="stylesheet" href="~/lib/ladda-bootstrap/ladda-themeless.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="~/lib/bootstrap-rating.min.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap-rating.css" />
</head>

<body>
    <div class="container-fluid">
        <label id="username" class="hidden">@Model.Username</label>
        <label id="gamename" class="hidden">@Model.GameName</label>
        <label id="password" class="hidden">@Model.Password</label>

        <div id="clipboard" class="hidden"></div>

        <div id="jumbotron" class="jumbotron" style="text-align: center">
            <h2 id="title">Play</h2>
            <p><i id="desc">Here you can join an existing game or create your own.</i></p>
        </div>
        <br>

        @if (Model.Username == null || Model.GameName == null || Model.Password == null || Model.GameName.Equals("") || Model.Username.Equals("") || Model.Password.Equals(""))
        {
            @await Html.PartialAsync("_JoinGame", Model)
        }
        else
        {
            @await Html.PartialAsync("_Play", Model)
        }
    </div>
</body>
</html>


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>