@model raupjc_obg.Models.GameViewModels.JoinGameViewModel
@{
    ViewData["Title"] = "Game";
}

<label id="username" class="hidden">@Model.Username</label>
<label id="gamename" class="hidden">@Model.GameName</label>
<label id="password" class="hidden">@Model.Password</label>

<h2 id="title">Play</h2>
<p><i id="desc">Here you can join an existing game or create your own.</i></p>
<br>
@if (Model.GameName == null || Model.Username == null || Model.Password == null)
{
    @await Html.PartialAsync("_JoinGame", Model)
}
else
{
    @await Html.PartialAsync("_Play")
}