@model raupjc_obg.Models.GameViewModels.JoinGameViewModel
@{
    ViewData["Title"] = "Join";
}

<h2>Join</h2>

@if (Model.GameName == null || Model.Username == null)
{
    <form method="post">
        <input name="Username" placeholder="Username" value="@Model.Username">
        <input name="GameName" placeholder="Game name" value="@Model.GameName">
        <input name="Password" placeholder="Password" value="@Model.Password">
        <button type="submit">Submit</button>
    </form>
}
else
{
    <div id="joined">

    </div>

    <div id="game">

    </div>


    <script type="text/javascript">
        var start = function () {
            var inc = document.getElementById('joined');
            var wsImpl = window.WebSocket || window.MozWebSocket;
            window.ws = new wsImpl('ws://localhost:8181');

            ws.onmessage = function (evt) {
                var message = evt.data;

                if(message=="admin"){
                    document.getElementById('game').innerHTML =
                        "<button onclick=\"ws.send('start');\">Start game</button>";
                } else if (message=="wrong-password") {

                } else if (message=="username-taken") {

                } else {
                    inc.innerHTML = message;
                }
            };

            ws.onopen = function () {
                inc.innerHTML = 'connection open';
                ws.send("new:@Model.Username:@Model.GameName:@Model.Password");
            };

            ws.onclose = function() {
                inc.innerHTML = 'connection closed';
            };
        }
        window.onload = start;
    </script>
}